body{
    background-image:url(./img/vigneto1.jpg) ;
    background-size: cover;
    background-attachment:fixed;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.img-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden; /* Taglia l'immagine se esce dai bordi tondi */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.img-card img {
    width: 100%;       /* Prende tutta la larghezza della card */
    height: 250px;     /* Fissa un'altezza uguale per tutte le foto */
    object-fit: cover; /* Taglia la foto senza schiacciarla (fondamentale!) */
    display: block;
}

.img-card:hover{
    transform: translate(-5px);
}

.img-info {
    padding: 10px;
    background: #630d16; 
    color: white;
}


.img-info p {
    margin: 0;
    font-size: 0.9rem;
}

.img-info span {
    font-size: 0.8rem;
    opacity: 0.8;
}

.desc-storia{
    display: grid;
    background-color: rgba(255, 255, 255, 0.75); /* Usare rgba è più moderno di #ffffffc0 */
    width: 60%;             /* Un po' più largo, al 50% su schermi piccoli diventa un francobollo */
    max-width: 800px;       /* Evita che su schermi giganti diventi troppo lungo */
    place-items: center;
    padding: 40px;          /* Dagli aria all'interno, non vorrai mica soffocare il testo! */
    border-radius: 15px;    /* Arrotondiamo come le bottiglie di vino */
    box-shadow: 0 10px 30px rgba(0,0,0,0.2); /* Un'ombra più profonda per dare importanza */
    text-align: center;
    margin: 20px auto;
}

/* HEADER */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky; 
    top: 0;
    background-color: #630d16;
}
.logo{
    font-weight: 600;
    color: white;
    padding: 20px;
}
.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: 0 20px;
}

.nav-links a{
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 500;
    transition: color 0.4s;
}

.nav-links a:hover{
    color: white;
}
html {
    scroll-behavior: smooth;
}


