body{
     background-image: url(https://i.pinimg.com/1200x/ba/02/cc/ba02cc58fead4df4fc1b095b57d90eb3.jpg);
    background-size: cover;
    background-attachment:fixed;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.img-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden; /* Taglia l'immagine se esce dai bordi tondi */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.img-card img {
    width: 100%;       /* Prende tutta la larghezza della card */
    height: 250px;     /* Fissa un'altezza uguale per tutte le foto */
    object-fit: cover; /* Taglia la foto senza schiacciarla (fondamentale!) */
    display: block;
}

.img-card:hover{
    transform: translate(-5px);
}

.img-info {
    padding: 10px;
    background: #630d16; 
    color: white;
}

.img-info p {
    margin: 0;
    font-size: 0.9rem;
}

.img-info span {
    font-size: 0.8rem;
    opacity: 0.8;
}

/* Rimuoviamo gli stili brutti di default del summary */
.img-card summary {
    list-style: none; /* Rimuove la freccetta standard su alcuni browser */
    cursor: pointer;
    font-weight: bold;
    color: inherit;   /* Prende il colore del testo della card */
    background-color: transparent; /* Evita sfondi grigiastri */
    padding: 10px 0;
    outline: none;    /* Toglie il bordino blu brutto quando clicchi */
}


.img-card summary::-webkit-details-marker {
    display: none;
}


.img-card summary:hover {
    filter: brightness(1.2); 
}

.img-card button{
    background-color: #630d16;
    border-radius: 20px;
    color: aliceblue;
     cursor: pointer;
}

